@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #282D35;
}

.navbar {
  display: flex;
  color: white;
  background-color: #21222A;
  gap: 10px;
  align-items: center;
  padding: 30px 25px;
  height: 30%;
}

.nav-icon {
  width: 30px;
}

.nav-icon-text {
  color: #61DAFB;
  font-size: 22px;
}

.blurp {
  color: #DEEBF8;
  margin-left: auto;
}

.main {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 50px 30px;
}

.main>h1 {
  letter-spacing: -0.05rem;
}

.main>ul>li {
  margin-bottom: 10px;
}

.main>ul>li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}